<div style='width:x%; text-align: center; margin-left: auto; margin-right: auto'>
	<h1>Editando vehículo</h1>



	<%= render 'form', vehicle: @vehicle %>

	<br></br>

	<%= link_to 'Ver', @vehicle %> |
	<%= link_to 'Regresar', vehicles_path, :"data-turbolinks" => false %>

	<br></br>

</div>