<div style='width:x%; text-align: center; margin-left: auto; margin-right: auto'>
<h1>Nuevo vehículo</h1>
</div>

<%= render 'form', vehicle: @vehicle %>

<div class="row">
  <div class="actions col s6">
    <%= link_to 'Regresar', vehicles_path %>
  </div>
</div>
