<div style='width:x%; text-align: center; margin-left: auto; margin-right: auto'>

<h2>Nuevo vehículo</h2>

<%= render 'form', vehicle: @vehicle %>

<br></br>
    <%= link_to 'Regresar', vehicles_path %>
<br></br>
</div>
